PORT=3001
GIN_MODE=debug

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=parroto
POSTGRES_SSLMODE=disable

FIREBASE_CREDENTIALS_FILE=/path/to/serviceAccountKey.json
FIREBASE_PROJECT_ID=your-firebase-project-id
FIREBASE_WEB_API_KEY=your-firebase-web-api-key
